<body class="documentary-body-index">

<div class="titulo-seccion mt-0">
    <div class="tdocumentary container-fluid text-center pt-3">
    
      <div><i class="fa-solid fa-clapperboard fa-2x icono-documentary d-inline"></i>
      <h1 class="titulo-documentary-index d-inline container">Lista de Documentales</h1></div>
    </div>
</div>


  <div class="container">
    <div>
      <table class="table">
        <thead>
          <tr>
          <th scope="col">Título</th>
          <th scope="col">Synopsis</th>
          <th scope="col">Director</th>
          </tr>
        </thead>
        <tbody class="texto-body">
          <% @documentary_films.each do |documentary| %>
          <tr>
            <td><%= documentary.name %></td>
            <td><%= documentary.synopsis %></td>
            <td><%= documentary.director %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</body>