
<body class="serie-body-index">

<div class="titulo-seccion mt-0">
    <div class="tserie container-fluid text-center pt-3">
      <div><i class="fa-sharp fa-solid fa-tv fa-2x icono d-inline"></i><h1 class="titulo-serie-index d-inline container">Lista de Series</h1></div>
    </div>
</div>


  <div class="container">
    <div>
      <table class="table">
        <thead>
          <tr>
          <th scope="col">Título</th>
          <th scope="col">Synopsis</th>
          <th scope="col">Director</th>
          </tr>
        </thead>
        <tbody class="texto-body">
          <% @series.each do |serie| %>
          <tr>
            <td><%= serie.name %></td>
            <td><%= serie.synopsis %></td>
            <td><%= serie.director %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</body>

